.footer {
  color: #888;
}

title {
  text-align: center;
}

.education-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.education-item {
  flex: 1 1 45%;
  margin: 10px;
}

.contact-section {
  padding: 60px 20px 30px;
}

.experience-item::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.hero-buttons .btn-secondary {
  background-color: black;
  color: white;
}